@use "../abstracts" as *;

.about {
    // &__container {
    // }
    &__image {
        width: rem(200);
        border-radius: 0.5rem;
        place-items: center;
    }

    &__description {
        text-align: center;
        margin-bottom: 2rem;
    }

    &__button-cv {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
    }
}