@use "../abstracts" as *;

.contact {
    &__container {
        row-gap: 3rem;
    }

    &__info {
        display: flex;
        margin-bottom: 1.5rem;
    }

    &__icon {
        font-size: 2rem;
        width: 2rem;
        color: $first-color;
        margin-right: 0.75rem;
    }

    &__title {
        font-weight: $font-medium;
    }

    &__subtitle {
        color: $text-color-light;
    }

    &__content {
        background-color: $input-color;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
    }

    &__label {
        font-size: $smaller-font-size;
        color: $title-color;
    }

    &__input {
        width: 100%;
        background-color: $input-color;
        color: $text-color;
        font-family: $font-family;
        font-size: $normal-font-size;
        border: none;
        outline: none;
        padding: 0.25rem 0.5rem;
    }
}