@use "../abstracts" as *;

.footer {
    margin-top: 1rem;
    padding: 2rem 0;
    background-color: $first-color-second;

    &__container {
        gap: 3rem;

        @include respond-to(small) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include respond-to(medium) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__title {
        font-size: $big-font-size;
        margin-bottom: 0.5rem;
    }

    &__links {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        @include respond-to (medium) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__link:hover {
        color: $first-color-lighter;
    }
    
    &__social {
        font-style: 1.25rem;
        margin-right: 1.5rem;
        
        &:hover {
            color: $first-color-lighter;
        }
    }

    &__copy {
        font-size: $smaller-font-size;
        text-align: center;
        color: $text-color;
        margin-top: 3rem;
    }

    &__title,
    &__subtitle,
    &__link,
    &__social {
        color: hsl(0, 0%, 100%);
    }
}