@use "../abstracts" as *;

.section {
    padding: 3rem 0;
}

.section__title {
    color: $title-color;
}

.section__subtitle {
    display: block;
    font-size: $small-font-size;
    margin-bottom: 3rem;
}

.section__title,
.section__subtitle {
    text-align: center;
}