@use "../abstracts" as *;

.section {
    padding-top: $header-height;

    &__title {
    color: $title-color;
    }

    &__subtitle {
        display: block;
        font-size: $small-font-size;
        margin-bottom: 3rem;
    }

    &__title,
    &__subtitle {
        text-align: center;
    }
}

